<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            description="%category.description"
            id="CycleFinder.commands.category"
            name="%category.name">
      </category>
      <command
            categoryId="CycleFinder.commands.category"
            description="%command.description"
            id="CycleFinder.commands.startingCommand"
            name="%command.name">
      </command>
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
         <command
               commandId="CycleFinder.commands.startingCommand"
               label="%command.label"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <adapt
                           type="org.eclipse.jdt.core.IJavaProject">
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   
   
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="CycleFinder.commands.startingCommand"
            class="extensionRequisites.CycleFinderHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="CycleFinderViews.cat"
            name="%category.name.0">
      </category>
      <view
            category="CycleFinderViews.cat"
            class="extensionRequisites.CycleDisplayer"
            id="CycleFinder.view"
            name="%view.name"
            restorable="true">
      </view>
   </extension>

</plugin>
